@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* download font */
@font-face {
  font-family: "atmospheric";
  src: url("../font/aAtmospheric.otf");
}

/* ============================== */
* {
  margin: 0;
  padding: 0;
}
:root {
  --bgcolor: #070707;
  --color: #cecdcd;
  --bgcontainer: rgb(20, 20, 22);
  --titlecolor: #00a4f0;
  --bg-card: #030f2b;
  --padding-btm: 5rem;
  --padding-top: 3rem;
  --width: 98%;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bgcolor);
}
.container {
  width: var(--width);
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h2 {
  position: relative;
  color: var(--titlecolor);
  font-size: 1.8rem;
  padding: 20px 10px 5px 10px;
  text-shadow: 0px 0px 40px #00a4f0;
  font-family: "atmospheric", sans-serif;
}
p,
ol {
  font-family: "Poppins", sans-serif;
}
.line {
  background-color: #8edfff;
  width: 50%;
  height: 1px;
  margin-top: 5px;
  box-shadow: 0 0 5px #25baff;
}
.judul-planet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* =========== navbar ============ */
nav {
  background: #0f2027;
  background: var(--bgcolor);
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.nav-logo {
  line-height: 90px;
  padding: 20px 50px;
  display: inline;
}

nav ul {
  float: right;
  padding-right: 30px;
}
nav ul li {
  display: inline-block;
  margin: 20px 5px;
}
nav ul li a {
  list-style: none;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--color);
  letter-spacing: 1px;
}
ul li a:hover {
  background: #22577a;
  transition: 0.7s;
}

.checkbtn {
  font-size: 1.3rem;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/* =========== Beranda =========== */
.beranda {
  background-image: linear-gradient(rgba(0, 0, 0, 0.301), #010508), url("../assets_home_page/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
.img-jumbotron {
  position: absolute;
  right: 0;
  top: 50px;
  width: 700px;
}
.beranda-text {
  position: absolute;
  left: 90px;
  top: 150px;
  text-align: left;
  color: var(--color);
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  color: #a6e6ff;
  font-size: 3rem;
  font-family: "atmospheric", sans-serif;
  text-shadow: 0px 0px 30px #00a4f0;
}
h1 span {
  position: absolute;
  left: 200px;
  top: 50px;
  color: --color;
  padding: 10px;
  border-radius: 5px;
}
.galaksi {
  position: absolute;
  top: 190px;
  font-size: 1.3rem;
  width: max-content;
  color: var(--color);
}
.desc-jumbotron {
  position: absolute;
  top: 200px;
  bottom: 150px;
  margin-top: 30px;
  width: 450px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* =========== Bagian Planet ======== */
.container-planet {
  padding-top: 30px;
  width: var(--width);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.col-planet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: var(--width);
  background-color: var(--bgcontainer);
  margin: 20px auto;
}
.ilustrasi-img img {
  margin: 0 50px 0 30px;
}
.desc {
  width: 50%;
}
.desc p span {
  font-size: 2rem;
  color: #fff;
}
.desc p,
ol {
  text-align: justify;
}
.desc ol {
  margin-left: 30px;
}
/*  
.col-planet {
  display: grid;
  grid-template-columns: 1fr, 1.3fr;
  justify-content: center;
  align-items: center;
  margin: 30px;
  grid-template-areas: "img desc";
}
.desc {
  margin-left: 80px;
  grid-area: "desc";
}

.ilustrasi-img img {
  margin-left: 30px;
  grid-area: "img";
  padding-top: 40px;
}

.desc p span {
  font-size: 2rem;
  color: #fff;
}
.desc p {
  margin-top: 10px;
}
ol li {
  transform: translateX(40px);
}
/* ========== bagian card planet ============== */
.menu-planet {
  width: var(--width);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-btm);
  background-color: var(--bgcolor);
  height: max-content;
  padding-bottom: var(--padding-btm);
  margin: auto;
}
.planet-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: var(--width);
}
.card {
  width: 250px;
  height: 350px;
  background-color: var(--bg-card);
  border-radius: 7px;
  padding: 5px;
  margin: 20px;
  box-shadow: 1px 3px#00a4f0;
  transition: 0.5s;
}
.card:hover {
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  color: var(--bgcolor);
  box-shadow: none;
}
.card:hover img {
  transform: translateY(-10px);
}
.card img {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 10px auto;
  transition: 1s;
}
.card p {
  padding: 5px;
  width: 250px;
  height: 130px;
}
.card p span {
  color: var(--titlecolor);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.card button {
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #2c8eff;
  transition: 0.3s;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
}
.card button:hover {
  background-color: #0d2544;
  border: 1px solid #0071f1;
  color: var(--color);
}
.card button:hover a {
  color: var(--color);
}
/* ==================== profil card ================*/
.container-anggota {
  width: var(--width);
  height: 100vh;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-btm);
}
.nama-anggota {
  margin-top: 30px auto auto auto;
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}
.card-profil {
  width: 200px;
  height: max-content;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 7px;
  padding: 5px;
  margin: 20px;
}
.nama-anggota .card-profil-3,
.nama-anggota .card-profil-4 {
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

.card-profil img {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 130px;
  margin: 10px auto;
  border: 2px solid #0069be;
  border-radius: 50%;
}
.card-profil p {
  padding: 5px;
  height: 70px;
}
.card-profil p span {
  color: var(--titlecolor);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.card-profil .sosmed {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #06beb6, #48b1bf);
  border-radius: 0 0 5px 5px;
}
.card-profil .sosmed i {
  font-size: 1rem;
  margin: 10px;
}
.card-profil .sosmed a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 10px;
  transition: 0.7s;
}

.card-profil a:hover {
  color: var(--bgcontainer);
}

/* =========== kontak =============== */

.container-kontak {
  width: var(--width);
  height: 100vh;
  padding-top: var(--padding-top);
}
.col-contact {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.ilustrasi-contact {
  padding-top: 30px;
}
form {
  margin-top: var(--padding-top);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: var(--padding-btm);
  flex-direction: column;
  width: 50%;
  height: 50%;
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);

  backdrop-filter: blur(4px);
  border-radius: 10px;
}
.form-item {
  width: 90%;
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.form-item :nth-last-child() {
  background-color: var(--bg-card);
}
label {
  margin: 0 0 10px 0;
}
input {
  height: 30px;
  border-radius: 5px;
  border: unset;
}
.button-contact {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: unset;
  box-shadow: 3px 3px 5px #2f80ed;
  background: #0069be;
  color: var(--color);
  transition: 0.7s;
}
.button-contact:hover {
  background-color: #2c8eff;
}
textarea {
  border-radius: 5px;
  height: 10%;
}

/* ===========foooter============= */
.container-sumber {
  height: 40vh;
  background-color: #071118;
}
.sumber {
  padding: 30px;
}
.sumber p {
  text-align: start;
  margin: 10px;
  color: var(--color);
  background-color: #071118;
}
footer {
  height: 30vh;
}
footer p {
  text-align: center;
  padding: 10px;
  background-color: var(--bg-card);
}
/* =========================================================== MATERI MASING MASING PLANET ======================================================== */
.materi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 30px 30px 30px;
}
.materi .gambar-merkurius {
  width: 200px;
  padding: 30px;
}
.container-materi {
  background-color: #071118;
  width: 92%;
  padding: 20px;
  color: var(--color);
}
.container-materi h3 {
  padding: 30px 0 10px 0;
  text-shadow: 0px 0px 20px #00a4f0;
  color: var(--titlecolor);
  text-transform: capitalize;
  border-bottom: 1px solid var(--titlecolor);
}
.container-materi p {
  padding-top: 10px;
  text-align: justify;
}
.container-materi ol li {
  width: 95%;
}
.container-materi ol li h4 {
  padding-top: 20px;
}
.container-materi .img-perbandingan-merkurius img {
  width: 600px;
  margin: 30px;
  box-shadow: 0px 0px 30px #0080bb;
}
.container-materi img {
  padding: 5px;
  max-width: 700px;
}
.sumber-materi {
  height: fit-content;
  background-color: #071118;
  padding: 30px;
  text-align: start;
  color: var(--titlecolor);
  background-color: #071118;
}
.sumber-materi ul li {
  padding: 10px;
  margin-left: 40px;
  list-style-type: none;
}
.sumber-materi ul li a {
  color: var(--color);
}

/* ============== RESPONSIF ==================================== */
@media (max-width: 1030px) {
  body {
    background-color: var(--bgcontainer);
  }
  .container-beranda .img-jumbotron {
    display: none;
  }
  .container-anggota {
    height: max-content;
  }
  nav ul li a {
    font-size: 1rem;
  }
  .card-profil {
    width: 30%;
  }
}
/* ============== tablet ================== */
@media (max-width: 998px) {
  .container-anggota {
    height: max-content;
  }
  nav ul li a {
    font-size: 1rem;
  }

  .desc {
    width: 95%;
    padding-bottom: 10px;
  }
  .container-kontak {
    width: var(--width);
    height: max-content;
  }
  form {
    width: 100%;
    margin: 20px;
  }
}

/* ============== mobile ( hanphone)============== */
@media (max-width: 780px) {
  .checkbtn {
    display: block;
  }
  .container-beranda .beranda-text {
    display: none;
    flex-direction: column;

    width: 50%;
  }
  h1 {
    font-size: 2rem;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 40vh;
    background: #000000e8;
    top: 60px;
    right: -200%;
    text-align: center;
    transition: all 0.5s;
  }
  nav {
    width: 100%;
  }
  nav ul li {
    display: block;
    margin: 15px;
    line-height: 40px;
    z-index: 5;
  }
  nav ul li a {
    font-size: 1rem;
  }
  #check:checked ~ ul {
    right: 0;
  }
  .card-profil {
    width: 200px;
  }
}

/*  super small */
@media (max-width: 678px) {
  .planet-card .card {
    width: 100%;
    height: max-content;
  }
  .planet-card .card p {
    width: 100%;
    height: 100px;
  }

  .card-profil {
    width: 100%;
  }
}
