* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgcolor: rgb(0, 0, 0);
  --color: #ede8f0;
  --bgcontainer: rgb(7, 6, 10);
  --titlecolor: rgb(228, 167, 0);
}

body {
  color: var(--color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.planet,
.anggota,
.kontak {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--bgcolor);
  margin: 20px auto;
}
.container-planet,
.planet-card,
.container-anggota,
.container-kontak {
  background-color: #0b0e16;
  width: 96%;
  height: 100vh;
  border-radius: 20px;
}

h2 {
  color: var(--titlecolor);
  font-size: 1.8rem;
  padding: 20px 10px 5px 10px;
}

.line {
  background-color: white;
  width: 500px;
  height: 1px;
  margin-top: 5px;
}

/* =========== navbar ============ */
nav {
  background: #0f2027;
  background: linear-gradient(to right, #000a3b, #0d2544, #134379);
  height: 60px;
}
.nav-logo {
  line-height: 90px;
  padding: 20px 50px;
  display: inline;
}

nav ul {
  margin-right: 30px;
  float: right;
}
nav ul li {
  display: inline-block;
  margin: 20px 5px;
}
nav ul li a {
  list-style: none;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--color);
  letter-spacing: 1px;
}
a:hover {
  background: #22577a;
  transition: 0.7s;
}

/* =========== Beranda =========== */
.beranda {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("../img/jumbotron-desktop1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-jumbotron {
  position: absolute;
  right: 0;
  top: 130px;
  width: 550px;
}
.beranda-text {
  position: absolute;
  left: 90px;
  top: 150px;
  text-align: left;
  color: white;
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ede8f0;
  font-size: 2.5rem;
  font-family: sans-serif;
}
h1 span {
  position: absolute;
  left: 200px;
  top: 50px;
  color: black;
  background-color: #0a4a94;
  padding: 10px;
  border-radius: 5px;
}
.galaksi {
  position: absolute;
  top: 190px;
  font-size: 1.3rem;
  width: max-content;
  color: var(--color);
}
.desc-jumbotron {
  position: absolute;
  top: 200px;
  bottom: 150px;
  margin-top: 30px;
  width: 450px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* =========== Bagian Planet ======== */

.judul-planet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.col-planet {
  display: grid;
  grid-template-columns: 1fr, 1.3fr;
  justify-content: center;
  align-items: center;
  margin: 30px;
  grid-template-areas: "img desc";
}
.desc {
  margin-left: 80px;
  grid-area: "desc";
}

.ilustrasi-img img {
  margin-left: 30px;
  grid-area: "img";
  padding-top: 40px;
}
.desc p span {
  font-size: 2rem;
}
.desc p {
  margin-top: 10px;
}
ol li {
  transform: translateX(40px);
}
/* ========== bagian card planet */
.menu-planet {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bgcolor);
}
.planet-card {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto;
}
.card {
  width: 250px;
  height: max-content;
  background-color: #22577a;
  border-radius: 7px;
  padding: 5px;
  margin-top: 20px;
}
.card img {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 10px auto;
}
.card p {
  padding: 5px;
}
.card button {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
}
